body{
    background-color: #f2e5d7;
    flex-direction: column;
    padding-bottom: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }

#main-navigation{
    background-color: #c39c7c;
    text-align: center;
}

#main-navigation li{
    display: inline-block;
    position: relative;
    padding: 12px;
}

/* a hover */
#main-navigation li:hover {
    background-color: rgb(226, 139, 139);
    color: white
}

/* drop down */
#main-navigation ul ul{
   display: none;
   position: absolute
}

/* hover of drop down */
#main-navigation li:hover ul{
   display: block;
   background-color:rgb(216, 140, 189);
   float: left;
   position: absolute;
   padding: 0px;
}

/* ////////////////////////////////////////// */

.sidebar{
    width: 30%;
    height: 45%;
    border: solid black;
    background-color: #EFCFE3;
    float: right;
    margin-bottom: 10px;
    text-align: center;
    text-size-adjust: 10%;
    border-radius: 15px;
    padding: 20px;
}


/* Table */
table, th, td {
    border:3px solid rgb(236, 195, 195);
    padding: 20px;
    background-color: white;
}

.chart {
    width: 600;
    height: 400;
    position: relative;
    margin: 0 auto;
    display: block;
}

.favorites{
    text-align: center;
    margin-bottom: 20px;
}


.swiper {
  width: 600px;
  height: 300px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#breedContainer{
  background-color: rgb(244, 244, 244);
  color:black;
  border: 2px solid black;
  width: 70%;
  display: grid;
  position: right;
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.text{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    text-align: center;
}